# Jupyter Notebook specific files
.ipynb_checkpoints/
*.ipynb_checkpoints/*

# IPython profile
profile_default/
ipython_config.py

# Python bytecode
*.pyc
__pycache__/

# Virtual environment files
.venv/
venv/
env/
.env/

# Operating System specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env